/****** Centrage du site ***********/

html {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79px;
    margin-bottom: 30px;
}

.logo img {
    width: 61px;
    height: 19px;
    margin: 30px 50px;
}

ul {
    list-style-type: none;
  }

nav ul {
    display: flex;
}

nav li {
    border-top: solid 2px transparent;
    padding: 14px 0 0 0;
}

nav li:hover {
    border-top: solid 2px var(--main-color);
    cursor: pointer;    
}

nav li:hover a {
    color: var(--main-color);
}

.menu a {
    text-decoration: none;
    font-weight: 400;
    color:black;
}

.menubuttons {
    gap: 68px;
    padding: 0 50px 0 50px;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Fin du header */

/* body & Main */

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
}

main {
    margin: 0 3.12rem 0 3.12rem;
}

/* Fin Body & Main */

/***** info group *****/

.infogroup,.headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.infogroup {
    gap: 35px;
}

.headline {
    gap: 8px;
}

/* search-bar */

.backblue {
    background-color: var(--main-color);
}

.backgrey {
    background-color: var(--main-bg-color);
}

.borderNone {
    border: none;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.borderSearch {
    width: 400px;
    border-radius: 15px;
    border: 0.5px solid #F2F2F2;
}

.search {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.search:focus {
    outline: none;
}

.iconSize {
    height: 50px;
    width: 50px;
    border-radius: 15px 0 0 15px;
}

.paddingSearch {
    padding-left: 24px;
}

.buttonSearch {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0 15px 15px 0;
}

.fa-search {
    display: none;
}

.button-search {
    display: none;
}

/* Fin search-bar */

/** Filter-bar **/

.filterbar,.fbuttonresponsive,.filterbutton {
    display: flex;
    align-items: center;
}

.filterbar,.fbuttonresponsive {
    gap: 15px;
}

.fbuttonresponsive {
    flex-direction: row;
}

.filterbutton {
    height: 50px;
    padding: 4px 19px;
    cursor: pointer;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    background-color: white;
}

.filterbuttontxt {
    color: var(--Black, #000);
    font-family: 'Raleway';
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filterbutton:hover {
    background-color: #DEEBFF;
}

/** Fin Filter-bar **/

/*** Info-bar ***/

.infobar,.fa-info {
    display: flex;
    align-items: center;
}

.infobar {
    gap: 10px;
    align-self: stretch;
    margin-bottom: 35px;
}

.fa-info {
    justify-content: center;

    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid #d9d9d9;
    font-size: 10px;
}
/*** Fin Info-bar ***/

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hosting-and-popular {
    display: flex;
    justify-content: space-between;
}

.hosting-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 1.88rem;
    box-sizing: border-box;
}

.directionRow,.directionColumn {
    display: flex;
    gap: 30px;
}

.directionRow {
    flex-direction: row;
    justify-content: center;
}

.directionColumn {
    flex-direction: column;
}

/****** Hebergements ***********/

.hosting {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 30px;
}


.hosting .card-title {
    width: 100%;
}


.hosting .directionRow div {
    flex: 1;
}

.hosting .directionRow .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hosting .card-content {
    width: 100%;
    display: flex;
    padding: 0 0 0 15px;
    flex-direction: column;
    gap: 8px;
}

.hosting .card img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 4px;
}

.hosting .card-content h3{
   margin: 0 0 8px 0;
}

.hosting .card-rating {
    max-height: 19.2px;
}

/****** Populaires ***********/

.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/****** Fin Populaires ***********/

/****** Activités ************/

.activities {
    font-size: 1rem;
    max-width:84rem;
    margin:2.19rem 2rem 2.19rem 2rem;
}

.activities h2{
    margin-bottom:0;
}

.activities .card{
    width:100%;
    height:auto;
    padding:0;
    border-radius: 1.25rem;
    cursor: pointer;
}

.activities img{
    width:100%;
    height:23.75rem;
    border-radius: 1.25rem 1.25rem 0 0;
}

.activities h3 {
    display: flex;
    flex-direction: column;
    padding: 20px 19px;
    justify-content: center;
    align-items: flex-start;
}

/****** Fin Activités ************/


/* Footer */

footer {
    background-color: var(--main-bg-color);
    margin: 0 3.12rem;
    padding: 1.25rem;
}

footer .directionrow {
    justify-content: flex-start;
}

.navfooter {
    display:flex;
    flex-direction:column;
    justify-self: flex-start !important;
    gap:0.94rem;
    width:28rem;
    align-self: stretch;
}

footer a {
    text-decoration: none;
    color: black;
}

footer div h4 {
    font-weight: 700;
 }

 footer div a {
    font-weight: 400;
 }

/* Fin du Footer */



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {

    .filterbar,.fbuttonresponsive,.popular-cards {
        display: flex;
    }

    .filterbar,.hosting-and-popular {
        flex-direction: column;
    }
    .filterbar {
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    
    .filterbuttontxt {
        color: var(--Black, #000);
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;    
    }

    .fbuttonresponsive {
        flex-wrap: wrap;
        gap: 15px;
    }

    .hosting,.popular {
        width: 100%;
    }

    .popular {
        margin-top: 50px;
    }

    .popular-cards {
        flex-direction: row;
        justify-content: space-between;
    }

    .popular-cards a {
        width: 30%;
    }

    .popular-cards .card-title {
        font-size: 14px;
    }

    .popular-cards .card-subtitle {
        font-size: 13px;
    }

    .activities .card{
        width:100%;
        height:auto;
        padding:0;
        border-radius: 1.25rem;
        cursor: pointer;
    }

    .activities img{
        width:100%;
        height:12.5rem;
        border-radius: 1.25rem 1.25rem 0 0;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    /* ... */

    /* Header */

    header,.responsivemenu {
        width: 100%;
    }

    header {
        flex-direction: column;
        align-items: center;
    }
    
    .logo img {
        width: 61px;
        height: 19px;
        margin: 30px;
    }
    
    .responsivemenu {
        height: auto;
    }

    li {
        flex-basis: 50%;
        text-align: center;
    }

    .menubuttons {
        justify-content: center;
        padding: 0;
        gap: 0;
    }

    .menu a {
        text-decoration: none;
        font-weight: 400;
        color:black;
        width: 187.5px;
        height: 19px;
    }

    nav li,nav li:hover {
        border-top: none;
    }

    nav li {
        border-bottom: solid 2px #f2f2f2;
        padding: 0 0 15px 0;
    }
    

    /*Fin header */


    /** info group **/

    .infogroup {
        display: flex;
        padding: 0px 20px;
        flex-direction: column;
        align-items: flex-start; 
        align-self: stretch;
        
    }
    
    /** Fin info group **/

    /*** searchbar ***/

    .buttonSearch {
        display: none;
    }

    .fa-search {
        justify-content: flex-end;
        align-items: center;
        font-size: 1rem;
        height: 49px;
        color: white;
        display: inline-flex;
        border: 1px solid var(--Blue, #0065fc);
        border-radius: 15px;
        background: var(--Blue, #0065fc);
        padding: 15px 16px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
    
      .borderSearch {
        width: auto;
      }

      .search {
        width: 100%;
      }

    /*** fin searchbar ***/

    /**** Filterbar ****/

    .filterbutton {
        min-width: 154px;
    }
   
    /**** Fin Filterbar ****/

   
    /***** infobar *****/

    .infobar {
        margin-bottom: 0;
    }

    /***** Fin infobar *****/
    body {
        width: 100%;
    }

    main {
        margin: 0;
    }

    .infogroup {
        padding-top: 30px;
    }

    /****** Hebergements And Populaires ***********/

    .hosting-and-popular {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .hosting-and-popular section {
        border-radius: 0;
    }
    /****** Fin Hebergements And Populaires ***********/

    /**** Hébergements ****/

    .hosting {
        display: flex;
        flex-direction: column;
    }

    section.hosting {
        background-color: white;
    }

    main .directionRow {
        display: flex;
        flex-direction: column;
    }
    /**** Fin Hébergements ****/

    /**** Populaires ****/
    
    .popular-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .popular-cards a {
        width: 100%;
    }
    .popular-title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16.825px;
        align-self: stretch;
    }
    /**** Fin Populaires ****/

    /***** footer *****/

    footer {
        flex-direction: column;
        padding: 30px;
        align-items: flex-start;
        gap: 50px;
        align-self: stretch;
        width: 100%;
        margin: 0;
    }

    footer .directionRow {
        width: 100%;
        flex-direction: column;
    }

    footer .navfooter {
        width: 100%;
    }

    /***** Fin footer *****/
}